#!/usr/bin/make -f

CFLAGS = -Wall -g -fPIC

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/bin --mandir=/usr/share/man

# main packaging script based on dh7 syntax
%:
	dh $@  --with autotools-dev

